# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
test-vault/.obsidian/*.json
!test-vault/.obsidian/app.json
!test-vault/.obsidian/community-plugins.json
!test-vault/.obsidian/core-plugins.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# WDIO / E2E testing
.obsidian-cache/

# Sisyphus plans
.sisyphus/
.omc/
